// include styles from the ui package
@use "./vars.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  .ztdl-h1 {
    @apply text-center text-2xl;
  }

  .ztdl-p {
    @apply text-center text-sm text-text-light-secondary-500 dark:text-text-dark-secondary-500;
  }
}

html {
  --background-color: #ffffff;
  --dark-background-color: #000000;
  font-family: var(--font-primary);
}

.form-checkbox:checked {
  background-image: url("/checkbox.svg");
}

.skeleton {
  --accents-2: var(--theme-light-background-400);
  --accents-1: var(--theme-light-background-500);

  background-image: linear-gradient(
    270deg,
    var(--accents-1),
    var(--accents-2),
    var(--accents-2),
    var(--accents-1)
  );
  background-size: 400% 100%;
  animation: skeleton_loading 8s ease-in-out infinite;
}

.dark .skeleton {
  --accents-2: var(--theme-dark-background-400);
  --accents-1: var(--theme-dark-background-500);

  background-image: linear-gradient(
    270deg,
    var(--accents-1),
    var(--accents-2),
    var(--accents-2),
    var(--accents-1)
  );
  background-size: 400% 100%;
  animation: skeleton_loading 8s ease-in-out infinite;
}

@keyframes skeleton_loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}


  /************************ LUDOCARE ***********************/
  .ludo-background {
    background-color: var(--ludo-background);
  }

  .ludo-form-background {
    background-color: var(--ludo-form-background);
    
    > div {
      border: 0;
    }

    h1,
    .ztdl-h1 {
      font-size: 1.5rem;
      font-weight: 650;
      margin-bottom: 1rem;
    }

    label {
      div.text-warn-light-500 {
        span {
          color: var(--theme-light-warn-500);
          padding-left: 16px;
          font-size: 0.7rem;
        }
      }

      span {
        color:#838387;
        font-weight: 500;
        font-size: 1rem;
        padding-left: 16px;

        &.text-warn-light-500 {
          color: var(--theme-light-warn-500);
        }
      }

      input {
        border: 0;
        background-color: var(--theme-light-background-100);
        padding: 0px 16px;
        height: 48px;
        border-radius: 12px;
        margin-top: 4px;
      }
    }

    button[type="submit"] {
      border: 0;
      height: 48px;
      border-radius: 24px;
      display: inline;
      
      span {
        color: var(--ludo-light-text);
        font-size: 1rem;
        font-weight: 450;
      }

      &:disabled {
        background-color: #D2D2D7;
      }
    }

    button[data-testid="resend-button"],
    button[data-testid="reset-button"] {
      font-size: 0.9rem;
    }

    button[type="button"]:not([data-testid="resend-button"], [data-testid="reset-button"]) {
      background-color: var(--theme-light-background-100);
      border: 0;
      height: 48px;
      border-radius: 24px;
      display: inline;
      
      span {
        color: var(--theme-light-primary-500);
        font-size: 1rem;
        font-weight: 450;
      }
    }
  }

